<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>
    <footer>
    </footer>
    <main>
      <div>
        <h1>{{ todo_object.name }}</h1>
        <p>
          <a href="{% url 'edit_todo_list' todo_object.id %}">Edit</a>
        </p>
        <p>
          <a href="{% url 'delete_todo_list' todo_object.id %}">Delete</a>
        </p>
      </div>
      <h2>Tasks</h2>
      <table>
        <thead>
          <th>Task</th>
          <th>Due date</th>
        </thead>
        <tbody>
          {% for tasks in todo_object.items.all %}
            <tr>
              <td>
                <a href="{% url 'update_todo_item' tasks.id %}">{{ tasks.task }}</a>
              </td>
              <td>{{ tasks.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
