<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
  </head>
  <body>
    <header>
      <nav>
      </nav>
    </header>
    <footer>
    </footer>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'create_todo_list' %}">Create a new list</a>
        </p>
        <p>
          <a href="{% url 'create_todo_item' %}">Create a new item</a>
        </p>
      </div>
      <table>
        <thead>
          <th>Name</th>
          <th>Number of items</th>
        </thead>
        <tbody>
          {% for todos in todos %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todos.id %}">{{ todos.name }}</a>
              </td>
              <td>{{ todos.items.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
