<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
  </head>
  <body>
    <header>
    </header>
    <footer>
    </footer>
    <main>
      <div>
        <h1>Update item</h1>
        <form method="post">
          {% csrf_token %}
          <label for="{{ form.task.auto_id }}">Task:</label>
          {{ form.task }}
          <br>
          <label for="{{ form.due_date.auto_id }}">Due date:</label>
          {{ form.due_date }}
          <br>
          <label for="{{ form.is_completed.auto_id }}">Is completed:</label>
          {{ form.is_completed }}
          <br>
          <label for="{{ form.list.auto_id }}">List:</label>
          {{ form.list }}
          <br>
          <button type="submit">Update</button>
        </div>
        {% comment %}
       <form method="post"> form tag will make a HTTP POST back to the same url
        form.as_p creates all of the HTML for the fields that we defiend on the RecipeFOrm
        Csrf_token creates a hidden input tag that contains a security token
        {% endcomment %}
      </main>
    </body>
  </html>
